body {
  margin: 0;
  padding: 40px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  
}

.contenedor {
  background: rgba(0,0,0,0.6);
  padding:30px 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  color:white;
  text-shadow: 0 0 6px black;
}
h1 {
  font-size: 50px;
  margin-top: 0;

}
h2 {
  font-size: 32px;
  margin-top: 30px;
}
h3 {
  font-size: 26px;
  margin-top: 20px;
}
p {
  font-size: 20px;
  line-height: 1.4;
}
.volver {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  background: white;
  color: black;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
}
