body {
  margin: 0;
  padding: 40px;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
}
.box {
    background: rgba(149, 7, 161, 0.85); 
    padding: 20px;
    border-radius: 12px;
    width: fit-content; 
    max-width: 600px;
    margin: 20px;
}
h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-transform: uppercase

}
h2 {
  font-size: 32px;
  margin-top: 30px;
  text-transform: uppercase;
}
h3 {
  font-size: 24px;
  margin-top: 20px;
  text-transform: capitalize;
}
p {
  font-size: 20px;
  line-height: 1.4;
}
.volver {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 25px;
  background: white;
  color: black;
  border-radius: 12px;
  font-weight: bold;
  text-decoration: none;
}
